
.list-group-extra {
  margin-top: 15px;
  width: 85%;
}

.list-group-item-extra {
  overflow-x: auto;
}

.list-group-item-extra:nth-of-type(odd) {
  overflow-x: auto;
  background: hsla(351, 80%, 50%, 0.1);
}

.badge-extra {
  background: hsla(351, 80%, 50%, 0.7);
;
}

.list-item-title{
  width: 80%;
  overflow-x: hidden;
  float: left;
}
