
.list-group-extra {
  margin-top: 15px;
  width: 88%;
}

.list-group-item-extra {
  overflow-x: auto;
}

.list-group-item-extra:nth-of-type(odd) {
  overflow-x: auto;
  background: hsla(0, 0%, 96%, 0.99);
}

.list-item-title{
  width: 80%;
  overflow-x: hidden;
  float: left;
}

.exhibitors-dropdown {
  width: 88%;
  cursor: pointer;
}

strong {
  color: #D95750;
}
