
<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <div class="row">
        <h1>Nombre del congreso</h1>
        <input class="_input" [ngModel]="(info_display | async)?.name" (ngModelChange)="update_name($event)"
               placeholder="Escribir un nombre para el congreso"/>
        <input class="_input" [ngModel]="ff()"
               placeholder="Escribir un nombre para el congreso"/>
      </div>

      <div class="row"> <div class="col-xs-11"> <hr> </div> </div>

      <div class="row">
        <h2>Fecha</h2>
        <div class="col-xs-1">
          <label>Desde el </label>
        </div>
        <div class="col-xs-4">
          <input [ngModel]="(info_display | async)?.start" />
        </div>
        <div class="col-xs-1">
          <label>hasta el</label>
        </div>
        <div class="col-xs-4">
          <input [ngModel]="(info_display | async)?.end" />
        </div>
      </div>

      <div class="row"> <div class="col-xs-11"> <hr> </div> </div>

      <div class="row">
        <h1>Descripción</h1>
        <textarea rows="3" class="_input" [ngModel]="(info_display | async)?.description"
                  (ngModelChange)="update_description($event)"
                  placeholder="Escribir una descripción para el congreso"></textarea>
      </div>

      <div class="row"> <div class="col-xs-11"> <hr> </div> </div>



    </div>
  </div>
</div>

<!--V Encuentro sobre la Didáctica de la Estadística, Probabilidad y el Análisis de Datos-->
