
<div class="container">

  <app-modal-aviso></app-modal-aviso>

  <div class="row">
    <div class="col-xs-12">

      <div class="row navbar-fixed-top">

          <h1 style="padding-left: 10px; padding-bottom: 5px;">Chat global</h1>

      </div>

      <div class="row" style="margin-top:6%">
        testText<br>
      testText<br>
      testText<br>
      testText<br>
      testText<br>
      testText<br>
      testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>
      testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>
      testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>
      testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>
      testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>
      testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>
      testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>
      testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>
      testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>
      testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>
      testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>
      testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>
      <br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>
      testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>
      testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>
      testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>
      testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>
      testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>
      testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>
      testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>
      testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>
      testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>testText<br>
      </div>
    </div>
  </div>


</div>
