
<div class="row">
  <!-- Menú lateral -->
  <div id="sidebar" class="col-xs-2">

    <div class="row gradient">
      <div class="col-xs-10 col-centered" style="margin-left: 7%">
      <img src="assets/images/userdefault.png" class="img-responsive img-rounded" style="opacity: 0.8;">
      </div>
      <div class="col-xs-1"></div>
    </div>

    <div class="row">
      <div class="btn-m btn-menu" [class.btn-menu-activo]="displaying==='info-general'" (click)="displaying='info-general'">
        General
      </div>
    </div>

    <div class="row">
      <div class="btn-m btn-menu" [class.btn-menu-activo]="displaying==='cronograma'" (click)="displaying='cronograma'">
        Cronograma
      </div>
    </div>

    <div class="row">
      <div class="btn-m btn-menu" [class.btn-menu-activo]="displaying==='chat'" (click)="displaying='chat'">
        Chat
      </div>
    </div>

    <div class="row">
      <div class="btn-m btn-menu" [class.btn-menu-activo]="displaying==='noticias'" (click)="displaying='noticias'">
        Noticias
      </div>
    </div>

    <div class="row">
      <div class="btn-m btn-menu" [class.btn-menu-activo]="displaying==='configuracion'" (click)="displaying='configuracion'">
        Configuración
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-centered">
        <img src="assets/images/logo_edepa.svg" class="img-responsive">
      </div>
    </div>
  </div>

  <!-- Contenidos del menú -->
  <div id="tabs-container" class="col-xs-10">
      <app-info-general *ngIf="displaying=='info-general'"></app-info-general>
      <app-chat *ngIf="displaying=='chat'"></app-chat>
      <app-cronograma *ngIf="displaying=='cronograma'"></app-cronograma>
  </div>
</div>



