
html, body{
  background: #fcfcfc;
}

hr {
  width: 88%;
  float: left;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

label {
  margin-top: 5px;
  font-weight: 400 !important;
}

.btn-std {
  width: 150px;
  background: #E51937;
  color: #FFFFFF;
  overflow-x: hidden;
}
.btn-std.focus, .btn-std:focus, .btn-std:hover {
  color: #212121;
}
.btn-menu.active, .btn-menu:active {
  background: #A01126;
}

textarea{
  overflow-y: auto;
  overflow-x: hidden;
  resize: none;
}

.small-input {
  padding: 4px;
  width: 60%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

._input {
  padding: 4px;
  width: 88%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}


